#content {
    display: grid;
    white-space: pre-wrap;
}

div {
    border: 2px solid black;
    margin: 4px;
    padding: 10px;
}

.unchanging {
    display: grid;
    justify-content: center;
    text-align: center;
}

.changing {
    display: grid;
    grid-auto-columns: auto;
}

.fp-image {
    opacity: .5;
    width: 20rem;
    border-radius: 50%;
}

img {
    width: 10rem;
}